<nav
  class="bg-white/60 backdrop-blur-sm rounded-4xl shadow-lg px-6 py-3 flex items-center justify-between relative border border-gray-100 w-full md:w-175 lg:w-250 mx-auto">

  <!-- Logo -->
  <div>
    <navbar-logo [logo]="logoUrl()" [logoAlt]="'Logo Cuatrovientos'"></navbar-logo>
  </div>

  <!-- Desktop Links -->
  <navbar-links [sections]="sections()" class="max-md:hidden"></navbar-links>

  <!-- CTA Button (Desktop) -->
  <div class="hidden md:block">
    <a class="px-6 py-2.5 text-sm font-semibold text-white bg-[#2563eb] rounded-full hover:bg-[#2444af] transition-all duration-200 shadow-md hover:shadow-lg transform hover:-translate-y-0.5"
      href="#">Acceder</a>
  </div>

  <!-- Mobile Burger -->
  <navbar-burger [sections]="sections()" class="md:hidden"></navbar-burger>
</nav>
