/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import "tailwindcss";

html {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cardSector {
  @apply bg-white rounded-lg shadow-md p-6 hover:shadow-xl transition-shadow duration-300 flex flex-col items-center;
  width: 100%;
}

@media (min-width: 768px) {
  .cardSector {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 1280px) {
  .cardSector {
    width: calc(33.333% - 1.333rem);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}


.section_current {
  @apply bg-gray-300/50 py-3 px-3 rounded-3xl border border-white/50 text-blue-500;
}

.landing-section {
  @apply pt-20;
}